doctype html
html(lang="en")
    head
        title= title
        script(type='text/javascript' src='https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    body
        h1= title
        p.
            \[e^{ \pm i\theta } = \cos \theta \pm i\sin \theta\]
