extends layout

block content
    table#leaderTable
        thead
            tr
                th Name
                th Rating
        tbody
            each row in leaders
                tr
                    th= row.name
                    th= row.score

